<h1>NEW PAYMENTS</h1>

<%= form_for @pay, url: {action: "create"}, html: {class: "form-inline"} do |form| %>
	<h4>Date:</h4>
<!-- 	<%= form.text_field :date, html: {class: "form-control"} %> -->
	<%= form.date_select :date, start_year: 2017, use_short_month: true, prompt: ['Year', 'Month', 'Day'] %>
	<h4>Amount:</h4>
	<%= form.text_field :amount, html: {class: "form-control"} %>
	<h4>Description:</h4>
	<%= form.text_field :description, html: {class: "form-control"} %>
	<h4>Tenant:</h4>
	<%= form.select(:tenant_id, options_for_select([['apto 101', 1],['apto 102', 2],['apto 103', 3],['apto 104', 4],['apto 201', 5],['apto 202', 6],['apto 301', 7],['apto 302', 8],['apto 303', 9],['apto 304', 10],['apto 305', 11],['apto 401', 12],['apto 501', 13],['apto 502', 14],['apto 503', 15]]), prompt: true) %>

	<%= form.submit "Create" %>
<% end %>

 


	