<!DOCTYPE html>
<html>
  <head>
    <title>RentApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </head>

  <body>

      <nav class="navbar navbar-expand-sm bg-info">

        <ul class="navbar-nav mr-auto order-0">
          <li class="nav-item"><%= link_to octicon("home", :width => '30px'), '/', class: "nav-link  dark"%></li> 
        </ul>

        <ul class="navbar-nav order-1 mx-auto">        
          <li class="nav-item">  
            <%= link_to "Payments records", "/tenants/payments", class: "nav-link" %>
          </li>
          <li class="nav-item">  
            <%= link_to "New payment", "/payments/new", class: "nav-link "%>
          </li>
          <li class="nav-item">  
            <%= link_to "Cash flows", '/', class: "nav-link" %>
          </li>
          <li class="nav-item"> 
            <%= link_to "Other reports", '/', class: "nav-link "%>
          </li>
        </ul>

        <ul class="navbar-nav order-3 ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to current_user.email, edit_user_registration_path %></li>
            <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class=""><%= link_to 'Sign up', new_user_registration_path%><br><%= link_to 'Login', new_user_session_path%></li>
          <% end %>
        </ul>

      </nav>
    <% if notice %><div class="alert alert-info "><%= notice %> </div> <% end %>
    <% if alert %><div class="alert alert-warning"><%= alert %> </div><% end %>
      <%= yield %>
  </body>


</html>
